/* heading text colour blue #AFDCEC */

body {
  background: linear-gradient(to top, #AFDCEC 0%, #fff 103%);
}

 .menu-items {
  list-style-type: none;
}

.navbar hr {
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #696969;
  color: #696969;
  text-align: center;
}

.navbar hr:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.nav-item {
  display: inline;
  padding: 10px;
  font-size: 20px;
  font-family: Courier-New;
  letter-spacing: 5px;
  line-height: 10px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.footer-item {
  display: inline;
  padding: 5px;
  font-size: 14px;
  font-family: Courier-New;
  letter-spacing: 3px;
  line-height: 8px;
  text-transform: uppercase;
}

.footer {
  height: auto;
  padding: 15px;
}

.footer-text {
  letter-spacing: 2px;
  padding: 5px
}

.nav-anchor {
  color: #696969;
}

.nav-anchor:hover{
  text-decoration:none;
  color: #ff6a80;
}

.logo {
  height: auto;
  text-align: center;
}

.services-heading, .eligibility-heading {
  font-family: Verdana;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #79CDCD;
  padding: 10px 0px 5px 0px;
}

.carousel {
  margin-bottom: 25px;
}

.carousel .carousel-inner .item .img-responsive {
  height: 500px;
  width: 100%;
}

.carousel-caption {
  text-align: left;
  padding-bottom: 15%;
  padding-right: 10%;
  font-family: Verdana;
}

.carousel-heading {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.carousel-text {
  font-size: 20px;
}

.middle-text {
  color: #ff6a80;
}

#services .services {
  height: auto;
  padding-bottom: 25px;
}

#services .services-text {
  line-height: 25px;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: Verdana;
  padding: 5px 0px 15px 0px;
  color: #808080;
}

.about-button {
  margin: 5px;
}

.thumbnail {
  box-shadow: none;
  background: transparent;
  border: 0;
}

.thumbnail-image {
  transition: .3s ease;
  backface-visibility: hidden;
  width: 95%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 26px;
  color: #AFDCEC;
  background-color: #ff6a80;
}

.thumbnail:hover .thumbnail-image {
  opacity: 0.3;
}

.thumbnail:hover .middle {
  opacity: 1;
}

.thumbnail:hover .centered {
  display: none;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#services .services-list {
  list-style: none;
  line-height: 25px;
  color: #808080;
}

#services .services-list li {
  font-size: 16px;
}

#services .services-list li::before {
  content: "※";
  color: #ff6a80;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#services .restrictions-list {
  list-style: none;
  line-height: 25px;
  color: #808080;
}

#services .restrictions-list li::before {
  content: "※";
  color: #ff6a80;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#services .panel-heading {
  font-size: 22px;
  font-family: cursive;
}

#services .panel-body {
  height: 250px;
}

#services .cost-panel {
  margin-top: 50px;
}

#services .services-restrictions {
  padding-bottom: 25px;
}

#services .services-restrictions-heading {
  font-family: Verdana;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #79CDCD;
  padding: 10px 0px 5px 0px;
}

#services .services-restrictions-subheading {
  font-family: Verdana;
  color: #696969;
}

#eligibility .eligibility {
  height: 580px;
}

#eligibility .eligibility-list {
  list-style: none;
  line-height: 25px;
  color: #808080;
  font-size: 18px;
  line-height: 30px;
}

#eligibility .eligibility-list li::before {
  content: "※";
  color: #ff6a80;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#eligibility .panel-heading {
  font-size: 22px;
  font-family: cursive;
}

#eligibility .booking-text {
  font-size: 16px;
  color: #696969;
  font-family: Verdana;
}

#eligibility .contact-list {
  list-style: none;
  line-height: 25px;
  color: #808080;
}

#eligibility .contact-list li {
  font-size: 16px;
}

#eligibility .contact-list li::before {
  content: "※";
  color: #79CDCD;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#eligibility .cancellation-heading {
  font-family: Verdana;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: #ff6a80;
}
