ul {
  list-style-type: none;
}

.navbar hr {
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #696969;
  color: #696969;
  text-align: center;
}

.navbar hr:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.nav-item {
  display: inline;
  padding: 10px;
  font-size: 20px;
  font-family: Courier-New;
  letter-spacing: 5px;
  line-height: 10px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.dashes {
  letter-spacing: 5px;
}

.footer-item {
  display: inline;
  padding: 5px;
  font-size: 14px;
  font-family: Courier-New;
  letter-spacing: 3px;
  line-height: 8px;
  text-transform: uppercase;
}

.footer {
  height: auto;
  padding: 15px;
}

.footer-text {
  letter-spacing: 2px;
  padding: 5px
}

.nav-anchor {
  color: #696969;
}

.nav-anchor:hover{
  text-decoration:none;
  color: #4682B4;
}

.logo {
  height: 150px;
  text-align: center;
}

.about {
  height: 350px;
}

.about-heading {
  font-family: Verdana;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #AFDCEC;
  padding: 10px 0px 5px 0px;
}

.about-text {
  line-height: 25px;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: Verdana;
  width: 75%;
  padding: 5px 0px 15px 0px;
  color: #808080;
}

.about-button {
  margin: 5px;
}

.thumbnail {
  box-shadow: none;
  background: transparent;
  border: 0;
}

.thumbnail-image {
  transition: .3s ease;
  backface-visibility: hidden;
  width: 95%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  color: #4682B4;
}

.thumbnail:hover .thumbnail-image {
  opacity: 0.3;
}

.thumbnail:hover .middle {
  opacity: 1;
}

.thumbnail:hover .centered {
  display: none;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
